@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
.bmw-bg-dark,
.top {
  background-color: #2a2a2a; }

.bmw-navbar-text {
  color: #ececec !important; }

.navbar-nav {
  position: relative; }

.navline::after,
.navline::before {
  content: '';
  position: absolute;
  height: 3px;
  border-radius: 20px;
  width: 100%;
  left: -0.5rem;
  background: #fff; }

.nav-item {
  position: relative; }
  .nav-item input::-webkit-input-placeholder {
    font-size: 14px;
    text-align: right;
    padding-right: 0.2rem; }
  .nav-item .form-control {
    width: 1%;
    border: 2px solid #fff; }
    .nav-item .form-control:focus {
      border: 2px solid rgba(1, 86, 147, 0.72);
      transition: border .3s;
      background-color: #2a2a2a;
      color: #fff; }
  .nav-item .fas {
    font-size: 1rem;
    cursor: pointer;
    transition: color .3s; }
    .nav-item .fas:hover {
      color: rgba(1, 86, 147, 0.72); }

.nav-link {
  letter-spacing: 2px;
  font-weight: 100;
  transition: color .3s; }
  .nav-link:hover {
    color: #00eaff !important; }

.navbar-brand img {
  height: 40px; }

.navbar-light .navbar-toggler-icon {
  background-image: url(../../src/img/navbar-icon.svg); }

@media (min-width: 1200px) {
  .show {
    width: 0px !important;
    border: 0px !important; }
  .move-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none; }
  .navbar-nav-desktop {
    width: 75% !important; } }

@media (max-width: 1199px) {
  .navbar-nav-desktop {
    width: 100% !important; } }

@media (min-width: 1300px) {
  .move {
    padding: 0 .75rem; }
  .move:nth-of-type(6) {
    padding: 0 2.5rem 0 1rem; } }

@media (max-width: 1299px) and (min-width: 1200px) {
  .move {
    padding: 0 .3rem; } }

@media (max-width: 1200px) and (min-width: 576px) {
  .search-sm {
    width: 50%; } }

.obx {
  width: 100vw;
  height: 50vh;
  background-color: aqua; }

.main-banner img {
  max-height: 600px; }

header .carousel-caption {
  left: initial;
  right: 5%;
  bottom: 20%; }
  header .carousel-caption p {
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align: right;
    padding-right: 2.5rem; }
  header .carousel-caption .carousel-caption-block {
    position: relative;
    width: 100%;
    height: 100%; }
    header .carousel-caption .carousel-caption-block::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 90%;
      background: #015692;
      bottom: 50%;
      transform: translateY(50%); }

.carousel-control-prev {
  left: 0.5rem; }

.carousel-control-next {
  right: 0.5rem; }

.carousel-control-next,
.carousel-control-prev {
  transition: opacity .3s ease-in; }

header .fa-icon {
  font-size: 30px;
  width: 2rem;
  height: 2rem;
  background-color: #2f2f2f;
  position: relative; }

header .fa {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0; }

@media (min-width: 1300px) {
  .carousel-caption-block::after {
    right: 0; } }

@media (max-width: 1299px) and (min-width: 1201px) {
  .carousel-caption-block::after {
    right: -6.5%; } }

@media (min-width: 1200px) {
  .carousel-caption p {
    font-size: 1.8rem; }
  .carousel-control-next,
  .carousel-control-prev {
    opacity: 0; } }

@media (max-width: 1200px) {
  .carousel-caption p {
    font-size: 1.6rem; }
  .carousel-control-next,
  .carousel-control-prev {
    opacity: 1; } }

@media (max-width: 1199px) and (min-width: 769px) {
  header .carousel-caption {
    right: 30%;
    bottom: 5%;
    transform: translateX(50%); }
  .carousel-caption-block::after {
    display: none; }
  .carousel-caption-block::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 90%;
    background: #015692;
    left: -11%;
    bottom: 50%;
    transform: translateY(50%); } }

@media (max-width: 768px) and (min-width: 577px) {
  header .carousel-caption {
    right: 30%;
    bottom: 5%;
    transform: translateX(50%); }
  .carousel-caption-block::after {
    display: none; }
  .carousel-caption-block::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 90%;
    background: #015692;
    left: -15%;
    bottom: 50%;
    transform: translateY(50%); } }

@media (min-width: 576px) {
  .banner-mobile {
    display: none; } }

@media (max-width: 576px) {
  .banner-desktop {
    display: none; }
  header .carousel-caption {
    right: 75%;
    bottom: 5%;
    transform: translateX(50%); }
  .carousel-caption-block::after {
    display: none; }
  .carousel-caption-block::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 90%;
    background: #015692;
    left: -25%;
    bottom: 50%;
    transform: translateY(50%); } }

.breadcrumb-bg {
  background: black; }
  .breadcrumb-bg .breadcrumb {
    background: transparent;
    padding: 0; }
    .breadcrumb-bg .breadcrumb a {
      transition: background .3s;
      color: #fff; }
      .breadcrumb-bg .breadcrumb a:hover {
        background: gray;
        text-decoration: none; }
  .breadcrumb-bg .breadcrumb-item {
    position: relative; }
  .breadcrumb-bg nav .breadcrumb-item::before {
    content: '|';
    padding: 0px;
    position: absolute;
    left: 0; }
  .breadcrumb-bg nav a:hover {
    background: #015692 !important; }
  .breadcrumb-bg nav a:last-of-type li::after {
    content: '|';
    position: absolute;
    right: 0;
    color: #fff; }

@media (min-width: 577px) {
  .breadcrumb-item {
    position: relative;
    padding: .75rem 1rem; } }

@media (max-width: 576px) {
  .breadcrumb-item {
    position: relative;
    padding: .4rem .4rem; } }

.car-model,
.section1,
.car-model,
.forum-area,
.modified-area {
  background: black; }
  .car-model h6,
  .section1 h6,
  .car-model h6,
  .forum-area h6,
  .modified-area h6 {
    font-size: 25px;
    letter-spacing: 1px; }

.modified-area {
  background: #fff; }

.section1 .slick-dots {
  z-index: 1;
  top: 0;
  left: -50px;
  width: 15%;
  max-height: 150px; }
  .section1 .slick-dots a {
    line-height: 30px;
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    background: #2a2a2a;
    margin-bottom: 10px;
    color: #fff;
    transition: all .3s; }
    .section1 .slick-dots a:hover {
      color: #fff;
      background: rgba(1, 86, 147, 0.95); }

.section1 .slick-active a {
  color: #fff !important;
  background: rgba(1, 86, 147, 0.95) !important; }

.section1 .slider {
  z-index: 99;
  position: relative; }

.slider-item {
  position: relative; }
  .slider-item img {
    width: 100%; }
  .slider-item .new-info p {
    width: 90%;
    font-weight: 100;
    letter-spacing: 1px; }
  .slider-item .new-info a {
    background: transparent !important;
    transition: all .3s;
    display: inline-block;
    padding: 10px;
    border: 1px solid transparent; }
    .slider-item .new-info a:hover {
      text-decoration: none;
      color: #015692 !important;
      border: 1px solid #fff; }
  .slider-item .new-header {
    position: relative; }
    .slider-item .new-header p {
      font-weight: 400;
      letter-spacing: 1px; }
    .slider-item .new-header::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 90%;
      background: #015692;
      bottom: 50%;
      left: -30px; }

.car-model .slider-item .card {
  border-right: 1px solid black !important; }
  .car-model .slider-item .card:hover .card-body {
    background: #015692; }
    .car-model .slider-item .card:hover .card-body a p {
      color: #fff; }

.car-model .slider-item .card-body {
  transition: all .4s ease; }

.car-model .slider-item a:hover {
  text-decoration: none; }

.car-model .slider-item a p:nth-of-type(1) {
  color: black;
  font-size: 20px;
  letter-spacing: 1px; }

.car-model .slider-item a p:nth-of-type(2) {
  font-size: 16px;
  color: #787878; }

.car-model .slick-next {
  width: 30px;
  height: 30px;
  right: 0.5rem;
  z-index: 99;
  line-height: 20px; }

.car-model .slick-prev {
  width: 30px;
  height: 30px;
  left: 0.5rem;
  z-index: 99;
  line-height: 20px; }

.forum-area {
  letter-spacing: 0.5px; }
  .forum-area .forum-content {
    border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
    transition: all .1s; }
    .forum-area .forum-content:hover {
      border-bottom: 2px solid #015692; }
  .forum-area a {
    color: #fff;
    transition: color .2s; }
    .forum-area a:hover {
      text-decoration: none;
      color: rgba(97, 165, 214, 0.95); }
  .forum-area .forum-top-lael {
    background: #015591; }
  .forum-area .forum-hot-lael {
    background: #b11b1a; }
  .forum-area .forum-essence-lael {
    background: #01afee; }
  .forum-area .forum-new-lael {
    border: 1px solid #fff; }
  .forum-area .badge {
    font-size: 100%;
    padding: 0.1rem;
    font-weight: 400;
    letter-spacing: 0.5px; }
  .forum-area .forum-info p {
    font-size: 0.8rem;
    font-weight: 200; }

.forum-more a {
  display: inline-block;
  padding-left: 35px !important;
  padding-right: 30px !important;
  text-align: center;
  font-weight: 200;
  letter-spacing: 5px;
  transition: all .3s;
  border: 1px solid #fff; }
  .forum-more a:hover {
    text-decoration: none;
    background: #fff;
    color: black; }

.modified-area .btn-secondary {
  border: transparent; }

.modified-area label:hover {
  background: #eee;
  color: #015692; }

.modified-area input:checked + label {
  color: #fff;
  background: rgba(1, 86, 147, 0.95); }

.modified-area .forum-more a {
  color: black;
  border: 1px solid black; }
  .modified-area .forum-more a:hover {
    background: black;
    color: #fff; }

.modified-area .slick-next {
  right: 0;
  z-index: 99; }

.modified-area .slick-prev {
  left: 0;
  z-index: 99; }

.modified-label-slider .modified-slider-item {
  border-radius: 20px; }

.modified-info-slider .slider-item .card {
  width: 95% !important;
  border-radius: 0; }
  .modified-info-slider .slider-item .card img {
    height: 300px; }

.modified-info-slider .slider-item .card-text {
  font-size: 1rem;
  font-weight: 200 !important; }

.modified-info-slider .slider-item .card-body a {
  letter-spacing: 2.5px;
  font-size: 0.6rem;
  font-weight: 300;
  background: black;
  color: #fff;
  transition: all .3s; }
  .modified-info-slider .slider-item .card-body a:hover {
    background: #015692; }

.modified-info-slider .slider-item .card-time {
  color: #7878789c; }
  .modified-info-slider .slider-item .card-time span {
    border-top: 1px solid black; }

.forum-second-hand {
  background: #2a2a2a; }

.car-model .slick-next,
.car-model .slick-prev,
.modified-info-slider .slick-next,
.modified-info-slider .slick-prev {
  width: 30px;
  height: 30px; }

.car-model .slick-next:before,
.modified-info-slider .slick-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105"; }

.car-model .slick-prev:before,
.modified-info-slider .slick-prev:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f104"; }

.car-model .slick-next:before,
.car-model .slick-prev:before,
.modified-info-slider .slick-next:before,
.modified-info-slider .slick-prev:before {
  color: #fff;
  font-size: 30px;
  transition: opacity .3s, color .3s ease-in;
  background: #2f2f2f;
  font-family: "Font Awesome 5 Free";
  width: 30px;
  height: 30px;
  display: block;
  line-height: 30px; }

.label-item {
  min-width: 50px;
  text-align: center; }

.mask {
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9998;
  transform: rotate(45deg);
  transform-origin: right;
  transition: width 2s ease-out; }

.modal-activity {
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 9999;
  transition: opacity .3s .3s; }
  .modal-activity img {
    max-width: 300px;
    max-height: 300px; }
  .modal-activity .modal-item {
    position: relative;
    height: 100%;
    width: 100%; }
  .modal-activity .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 6px;
    background: black;
    opacity: 1;
    color: #fff;
    font-weight: 300;
    transition: color .3s;
    z-index: 10000; }
    .modal-activity .close:hover {
      color: #aaa; }

@media (min-width: 1201px) {
  .slick-dots li {
    display: block;
    margin: 0 5px 1.5rem !important; }
  .car-model .car-slider:hover .slick-next:before,
  .car-model .car-slider:hover .slick-prev:before {
    opacity: 0.9; }
  .car-model .slick-next:before,
  .car-model .slick-prev:before {
    opacity: 0; }
  .new-header p {
    font-size: 1.8rem; } }

@media (max-width: 1200px) {
  .section1 {
    background: #2a2a2a; }
    .section1 .slick-dots {
      width: 100%;
      max-height: 50px;
      top: -15%;
      left: 0px;
      text-align: left; }
      .section1 .slick-dots a {
        background: #424242; }
      .section1 .slick-dots .slick-dots li {
        display: inline-block;
        text-align: left;
        margin: 0 30px 1.5rem !important; }
    .section1 img {
      width: 100%; }
  .slick-dots li {
    margin: 5px 20px; }
  .car-model .slick-next:before,
  .car-model .slick-prev:before,
  .modified-info-slider .slick-next:before,
  .modified-info-slider .slick-prev:before {
    opacity: 1;
    line-height: 30px;
    text-align: center; }
  .new-header p {
    font-size: 1.6rem; } }

@media (min-width: 769px) {
  .new-info {
    position: absolute;
    width: 40%;
    z-index: 100;
    top: 50%;
    right: 1%;
    transform: translateY(-50%); }
  .new-header {
    width: 25%;
    position: relative; }
    .new-header p {
      font-weight: 400;
      letter-spacing: 1px; }
  .title-break {
    display: none; }
  .new-header::before {
    transform: translate(0%, 50%); } }

@media (min-width: 577px) {
  .mask {
    width: 250%;
    height: 320%; } }

@media (max-width: 576px) {
  .mask {
    width: 230%;
    height: 200%; } }

@media (max-width: 768px) and (min-width: 481px) {
  .slider-item .new-header {
    margin-top: 2rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
    .slider-item .new-header::before {
      top: 50%;
      transform: translateY(-50%); }
  .slider-item .new-info p:nth-last-child(2) {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
  .slider-item .new-info p:nth-last-child(1) {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: right; }
  .card {
    width: 90%;
    margin: auto; } }

@media (max-width: 768px) {
  .title-break {
    display: block;
    padding-top: 0.5rem; } }

@media (max-width: 576px) {
  .forum-area .forum-title {
    font-size: 1.2rem; }
  .new-header {
    width: 25%;
    position: relative; }
    .new-header p {
      font-weight: 400;
      letter-spacing: 1px; }
    .new-header::before {
      left: 1.5rem; } }

@media (max-width: 480px) {
  .slider-item .new-header {
    margin-top: 2rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
    .slider-item .new-header::before {
      top: 50%;
      transform: translateY(-50%); }
  .slider-item .new-info p:nth-last-child(2) {
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
  .slider-item .new-info p:nth-last-child(1) {
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: right; } }

.terms {
  background-size: cover;
  background: url(../../src/img/bg-tearms.jpg);
  height: 100vh; }
  .terms h1 {
    padding-top: 5rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding-top: 6rem !important;
    padding-bottom: 2rem;
    font-size: 2rem; }
  .terms .content {
    height: 50vh;
    max-width: 1200px; }
    .terms .content p {
      font-weight: 300;
      letter-spacing: 2.5px; }
  .terms footer {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001; }

@media (max-width: 576px) {
  .terms h1 {
    font-size: 1.5rem; } }

@media (min-width: 1000px) {
  .terms {
    overflow-y: hidden; }
    .terms footer {
      position: absolute; } }

.forum-title-border {
  border: 1px solid #fff; }

.forum-bg {
  background: black; }
  .forum-bg .forum-page-item {
    border: 1px solid #fff !important; }
    .forum-bg .forum-page-item .forum-page-link {
      color: #fff; }

.forum-title-line {
  border-color: #fff !important; }

.article-info {
  background: #282828; }
  .article-info img {
    width: 100px;
    height: 100px; }
  .article-info .author-img,
  .article-info .author-info {
    display: inline-block; }
    .article-info .author-img img,
    .article-info .author-info img {
      width: 120px;
      height: 120px; }

.dorm-manager {
  background: #015591;
  padding: 2px;
  display: inline-block; }

.timestamps,
.floor-number {
  color: #aaa; }

.article-logo-banner img {
  width: 100%; }

.article-content {
  position: relative;
  background: #fff;
  padding: 1.5rem 1rem;
  color: #aaa; }
  .article-content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px 0px; }
  .article-content .article-reply {
    color: #fff;
    padding: 3px 10px;
    background: black;
    cursor: pointer;
    transition: color .3s; }
    .article-content .article-reply:hover {
      color: #aaa; }

.article-social {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px; }
  .article-social img {
    margin: 0; }
  .article-social:hover {
    animation: tada 1s; }

.navigation-input {
  width: 50px;
  height: 100%;
  padding-right: 5px;
  background: black;
  color: #fff;
  border: transparent; }

.article-sider-news ol {
  list-style: none;
  position: sticky !important;
  top: 100px; }

.article-sider-news img {
  width: 300px; }

.article-mobile-loadline {
  cursor: pointer;
  background: #015692;
  padding: 20px; }
  .article-mobile-loadline h5 {
    font-weight: 300; }

.article-mobile-slick-news img {
  max-width: 300px;
  display: inline-block;
  text-align: center; }

@media (max-width: 1024px) {
  .article-sider-news {
    display: none; } }

@media (min-width: 1024px) {
  .article-mobile-loadline,
  .article-mobile-slick-news {
    display: none; } }

.news-list-time {
  font-size: 17px;
  letter-spacing: 1px; }

.news-list-title {
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 15px; }

.pagination .page-item {
  border: 1px solid black; }

.pagination .page-link {
  border: 0px;
  background-color: transparent;
  color: black;
  transition: color .3s; }
  .pagination .page-link:hover {
    color: #7878789c; }

.page-banner {
  position: relative; }
  .page-banner h3 {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    font-weight: 400; }
  .page-banner img {
    width: 100%;
    min-height: 300px;
    max-height: 400px; }
  .page-banner .news-title-border {
    border: 1px solid black; }

.page-input {
  background: #fff;
  color: black; }

.news-article-title {
  letter-spacing: 2px;
  font-weight: 200;
  position: relative;
  padding-left: 10px; }
  .news-article-title h1 {
    font-size: 2rem;
    font-weight: 400; }
  .news-article-title::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 20px;
    height: 100%;
    background: #015692; }
  .news-article-title .news-author {
    color: #7878789c;
    font-size: 0.9rem; }

.btn-back {
  color: #7878789c; }

.btn-seemore {
  background-color: #015692;
  transition: background .5s, color .5s !important; }
  .btn-seemore:hover {
    background: black;
    color: #fff !important; }

@media (min-width: 1600px) {
  .new-article {
    max-width: 1024px; } }

.modified-title-area {
  padding: 5rem 0 2rem 0; }
  .modified-title-area .modified-title {
    font-weight: 400; }
    .modified-title-area .modified-title span {
      font-weight: 200; }
  .modified-title-area .modified-item {
    display: inline-block;
    border: 1px solid black;
    font-weight: 400; }
  .modified-title-area img {
    width: 100px;
    height: 30px; }

.essence-article {
  background: #292a60; }
  .essence-article .essence-title-line::after {
    content: '';
    width: 100%;
    height: 1px;
    border: 1px solid #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1; }
  .essence-article .essence-title {
    color: #fff;
    font-weight: 300; }
    .essence-article .essence-title .essence-title-area {
      display: inline-block;
      background: #292a60;
      padding: 0px 10px;
      z-index: 99;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      position: absolute; }
  .essence-article .essence-card {
    border: 0; }
  .essence-article .essence-list a {
    border: 1px solid #fff;
    color: #fff; }

.modified-forum-area {
  background: #fff; }
  .modified-forum-area .forum-title a {
    color: black;
    transition: color .3s; }
    .modified-forum-area .forum-title a:hover {
      color: #015692; }
  .modified-forum-area .forum-new-border {
    border: 1px solid black; }
  .modified-forum-area .forum-content {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.5);
    transition: all .1s; }
    .modified-forum-area .forum-content:hover {
      border-bottom: 2px solid #015692; }

.modified-title-line {
  border-bottom: 2px solid black;
  color: black; }

@media (max-width: 576px) {
  .modified-title-line {
    display: none; } }

@media (min-width: 576px) {
  .fa-comment-dots {
    display: none !important; } }

.registered {
  position: relative;
  background-size: cover;
  background: url(../../src/img/login-layout.jpg);
  background-position: top center;
  min-height: 100vh; }
  .registered .login-content {
    position: relative;
    height: 100%; }
  .registered .registered-content {
    max-width: 360px;
    margin-top: 4rem;
    background: #fff;
    padding: 2rem 1rem; }
    .registered .registered-content h3 {
      font-weight: 400; }
    .registered .registered-content .registered-content-title p {
      color: #8d8d8d;
      font-weight: 300;
      letter-spacing: 0.8px; }
    .registered .registered-content .input-group {
      border: 1px solid #aaa; }
      .registered .registered-content .input-group img {
        width: 16px;
        height: 16px; }
    .registered .registered-content .input-group-text {
      background: transparent; }
    .registered .registered-content .fa-times-circle {
      cursor: pointer; }
    .registered .registered-content .btn-lg {
      border-radius: 0;
      margin-top: 0.8rem; }
  .registered .registered-info {
    letter-spacing: 0.5px; }
    .registered .registered-info a {
      color: #015692;
      text-decoration: underline; }
    .registered .registered-info .forget-password {
      color: #aaa !important;
      text-decoration: none !important;
      transition: color .3s; }
      .registered .registered-info .forget-password:hover {
        color: #878787 !important; }
  .registered .input-group .error {
    color: #495057 !important; }
  .registered footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1001; }

.hint-text {
  color: #aaa;
  font-size: 0.8rem; }

.hint-hidden {
  font-size: 0; }

.hint-error {
  color: red; }

.error {
  color: red; }

.btn-bmw,
.btn-facebook {
  background: #015692;
  color: #fff;
  transition: all .3s;
  font-weight: 300; }
  .btn-bmw:hover,
  .btn-facebook:hover {
    opacity: 0.9; }

.error {
  color: red !important; }

.btn-cancel {
  background: #aaa !important;
  color: black;
  font-weight: 400; }

.icon-user {
  fill: black; }

.icon-user:hover {
  fill: orange; }

.btn-facebook {
  background: #36518f; }

@media (min-width: 991px) {
  .registered {
    padding-bottom: 160px; } }

@media (max-width: 990px) {
  .registered {
    padding-bottom: 270px; } }

@media (max-width: 321px) {
  .roboot {
    padding: 0; } }

a:hover {
  text-decoration: none; }

.profile-bg {
  background: url(../../src/img/profile-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.btn-modify {
  padding: 3px 1.5rem;
  background: #015692;
  color: #fff;
  transition: background .2s; }
  .btn-modify:hover {
    background: red;
    color: #fff; }

.pro-headshot img {
  width: 200px;
  height: 200px; }

.profile-pic .slick-slide img {
  display: inline-block !important; }

.profile-pic img {
  width: 300px;
  transition: transform .5s; }
  .profile-pic img:hover {
    transform: scale(1.1); }

.profile-fourm-area {
  background: transparent; }

.lightbox {
  top: 50%;
  transform: translateY(50%); }

.profile-fourm-title {
  background: #fff;
  color: black; }

.input-custom {
  border: 2px solid #fff;
  position: relative;
  background: black;
  color: #fff !important;
  border-radius: 0; }

.select-custom {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  z-index: 1; }

.select-wrapper {
  position: relative; }
  .select-wrapper::after {
    content: ' ';
    position: absolute;
    right: 10px;
    bottom: 35%;
    transform: translateY(50%);
    border-color: #fff transparent transparent transparent;
    border-style: solid solid solid solid;
    border-width: 7px;
    z-index: 99;
    /* 設定 width、height 可更好理解原理 */
    height: 0px;
    width: 0px;
    pointer-events: none; }

.my-6 {
  margin: 5rem 0 4rem 0 !important; }

.validation-input {
  position: relative; }
  .validation-input .validation-label {
    position: absolute;
    bottom: -30px;
    left: 15px; }

.date-wrapper {
  position: relative; }

.date-icon {
  position: absolute;
  right: 10px;
  bottom: 50%;
  transform: translateY(80%);
  z-index: 98; }

.profile-edit-pic {
  position: relative;
  display: inline-block;
  overflow: hidden; }
  .profile-edit-pic img {
    width: 200px;
    height: 200px; }
  .profile-edit-pic label {
    cursor: pointer; }
  .profile-edit-pic .profile-edit-change {
    font-size: 0;
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: bottom .3s; }
    .profile-edit-pic .profile-edit-change .profile-edit-btn {
      font-size: 1rem;
      text-align: center;
      cursor: pointer; }

.profile-add-pic {
  width: 200px;
  height: 200px; }

.profile-edit-slick .slick-next {
  right: -10px;
  z-index: 99; }

.profile-edit-slick .slick-prev {
  left: -10px;
  z-index: 99; }

@media (min-width: 577px) {
  .input-width {
    width: 70%; } }

@media (max-width: 576px) {
  .input-width {
    width: 100%; } }

@media (min-width: 769px) {
  .profile-edit-pic:hover .profile-edit-change {
    bottom: 0; }
  .profile-edit-pic .profile-edit-change {
    bottom: -50px; } }

@media (max-width: 769px) {
  .profile-edit-pic .profile-edit-change {
    bottom: 0px; } }

footer {
  letter-spacing: 1.5px;
  background: black; }
  footer a {
    color: #fff; }
    footer a:hover {
      text-decoration: none; }
  footer .icon-mobile a,
  footer .icon-desktop a {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    border: 2px solid #fff;
    border-radius: 100%;
    background: transparent;
    text-align: center; }
    footer .icon-mobile a:hover,
    footer .icon-desktop a:hover {
      background: #fff; }
  footer .icon-mobile .fab,
  footer .icon-desktop .fab {
    transition: all .3s;
    padding: 5px 5px 4px 6px; }

@media (min-width: 991px) {
  .icon-desktop {
    display: none; }
  .copy {
    padding: 2rem 0 1rem 0; } }

@media (max-width: 991px) {
  .icon-mobile {
    display: none; }
  .copy {
    padding: 4rem 0 1rem 0; }
  footer .row a {
    margin-top: 10px; } }

.copy {
  letter-spacing: 1.5px;
  font-size: 0.5rem; }

* {
  font-family: '新細明體'; }

:focus {
  outline: 0; }

.row {
  margin: 0; }
