.terms h1 {
  padding-top: 5rem;
  letter-spacing: 1px;
  font-weight: 400; }

.terms footer {
  position: absolute;
  bottom: 0; }

.terms {
  background-size: cover;
  background: url(../../src/img/bg-tearms.jpg);
  background-attachment: fixed;
  height: 100vh; }
  .terms .content {
    height: 50vh; }
  .terms footer {
    z-index: 1001; }

@media (max-width: 576px) {
  .terms h1 {
    font-size: 1.5rem; } }
