//麵包導覽
.breadcrumb-bg {
    background: black;
    .breadcrumb {
        background: transparent;
        padding: 0;
        a {
            transition: background .3s;
            color: #fff;
            &:hover {
                background: gray;
                text-decoration: none;
            }
        }
    }
    .breadcrumb-item {
        position: relative;
    }
    nav {
        .breadcrumb-item::before {
            content: '|';
            padding: 0px;
            position: absolute;
            left: 0;
        }
        a {
            &:hover {
                background: $bmw-text-secondary !important;
            }
        }
        a:last-of-type li::after {
            content: '|';
            position: absolute;
            right: 0;
            color: #fff;
        }
    }
}

@media (min-width:577px) {
    .breadcrumb-item {
        position: relative;
        padding: .75rem 1rem;
    }
}

@media (max-width:576px) {
    .breadcrumb-item {
        position: relative;
        padding: .4rem .4rem;
    }
}