// 通用類別定義
$bmw-bg-primary:#2a2a2a;
// $bmw-text-secondary:hsla(205, 99%, 29%, 0.95);
$bmw-text-secondary:#015692;
$bmw-text-primary:#ececec;
$bmw-fourm-text:hsla(205, 59%, 61%, 0.95);
$bmw-fourm-top:#015591;
$bmw-fourm-hot:#b11b1a;
$bmw-fourm-essence:#01afee;
@mixin page-title() {
    padding-top: 5rem;
    letter-spacing: 1px;
    font-weight: 400;
}

@mixin page-footer() {
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}