@import 'common';
.forum-title-border {
    border: 1px solid #fff;
}

.forum-bg {
    background: black;
    .forum-page-item {
        border: 1px solid #fff !important;
        .forum-page-link {
            color: #fff;
        }
    }
}

.forum-title-line {
    border-color: #fff !important;
}