@import 'common';
* {
  // border: 1px solid red;
}

.article-info {
  background: #282828;
  img {
    // max-width: 120px;
    // max-height: 120px; 
    width: 100px;
    height: 100px;
  }
  .author-img,
  .author-info {
    display: inline-block; // float: left;
    img {
      width: 120px;
      height: 120px;
    }
  }
}

.dorm-manager {
  background: #015591;
  padding: 2px;
  display: inline-block;
}

.timestamps,
.floor-number {
  color: #aaa;
}

.article-logo-banner {
  // background: url(../../src/img/article-banner-L1.jpg); // background-size: cover;
  // height: 100px;
  img {
    width: 100%; // height: 120px;
  }
}

.article-content {
  position: relative;
  background: #fff;
  padding: 1.5rem 1rem;
  color: #aaa;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px 0px;
  }
  .article-reply {
    color: #fff;
    padding: 3px 10px;
    background: black;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #aaa;
    }
  }
}

.article-social {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  img {
    margin: 0;
  }
  &:hover {
    animation: tada 1s;
  }
}

.navigation-input {
  width: 50px;
  height: 100%;
  padding-right: 5px;
  background: black;
  color: #fff;
  border: transparent;
}

// .article-info-detail {
//     line-height: 1.5px;
// }
.article-sider-news {
  ol {
    list-style: none;
    position: sticky !important;
    top: 100px;
  }
  img {
    width: 300px;
  }
}

.article-mobile-loadline {
  cursor: pointer;
  background: #015692;
  padding: 20px;
  h5 {
    font-weight: 300;
  }
}

.article-mobile-slick-news {
  img {
    max-width: 300px;
    display: inline-block;
    text-align: center;
  }
}

@media (max-width:1024px) {
  .article-sider-news {
    display: none;
  }
}

@media (min-width:1024px) {
  .article-mobile-loadline,
  .article-mobile-slick-news {
    display: none;
  }
}