footer {
  letter-spacing: 1.5px;
  background: black;
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
  .icon-mobile,
  .icon-desktop {
    a {
      width: 30px;
      height: 30px;
      margin-right: 1rem;
      border: 2px solid #fff;
      border-radius: 100%;
      background: transparent;
      text-align: center;
      &:hover {
        background: #fff;
      }
    }
    .fab {
      transition: all .3s;
      padding: 5px 5px 4px 6px;
    }
  }
}

// ================================================
// ================================================
// facebook icon 顯示
@media(min-width:991px) {
  .icon-desktop {
    display: none;
  }
  .copy {
    padding: 2rem 0 1rem 0;
  }
}

@media(max-width:991px) {
  .icon-mobile {
    display: none;
  }
  .copy {
    padding: 4rem 0 1rem 0;
  }
  footer {
    .row {
      a {
        margin-top: 10px;
      }
    }
  }
}

// ================================================
// ================================================
// Copyright  顯示
.copy {
  letter-spacing: 1.5px;
  font-size: 0.5rem
}