.main-banner {
    img {
        max-height: 600px;
    }
}

header .carousel-caption {
    left: initial;
    right: 5%;
    bottom: 20%;
    p {
        font-weight: 400;
        letter-spacing: 1.5px;
        text-align: right;
        padding-right: 2.5rem;
    }
    .carousel-caption-block {
        position: relative;
        width: 100%;
        height: 100%;
        &::after {
            position: absolute;
            content: '';
            width: 20px;
            height: 90%;
            background: #015692;
            bottom: 50%;
            transform: translateY(50%);
        }
    }
}

.carousel-control-prev {
    left: 0.5rem;
}

.carousel-control-next {
    right: 0.5rem;
}

.carousel-control-next,
.carousel-control-prev {
    transition: opacity .3s ease-in;
}

header {
    .fa-icon {
        font-size: 30px;
        width: 2rem;
        height: 2rem;
        background-color: #2f2f2f;
        position: relative;
    }
    .fa {
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}

@media (min-width:1300px) {
    .carousel-caption-block {
        &::after {
            right: 0;
        }
    }
}

@media (max-width:1299px) and (min-width:1201px) {
    .carousel-caption-block {
        &::after {
            right: -6.5%;
        }
    }
}

@media (min-width:1200px) {
    .carousel-caption {
        p {
            font-size: 1.8rem;
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        opacity: 0;
    }
}

@media ( max-width:1200px) {
    .carousel-caption {
        p {
            font-size: 1.6rem;
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        opacity: 1;
    }
}

@media (max-width:1199px) and (min-width:769px) {
    header .carousel-caption {
        right: 30%;
        bottom: 5%;
        transform: translateX(50%);
    }
    .carousel-caption-block {
        &::after {
            display: none;
        }
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 90%;
            background: #015692;
            left: -11%;
            bottom: 50%;
            transform: translateY(50%);
        }
    }
}

@media (max-width:768px) and (min-width:577px) {
    header .carousel-caption {
        right: 30%;
        bottom: 5%;
        transform: translateX(50%);
    }
    .carousel-caption-block {
        &::after {
            display: none;
        }
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 90%;
            background: #015692;
            left: -15%;
            bottom: 50%;
            transform: translateY(50%);
        }
    }
}

@media(min-width:576px) {
    .banner-mobile {
        display: none;
    }
}

@media(max-width:576px) {
    .banner-desktop {
        display: none;
    }
    header .carousel-caption {
        right: 75%;
        bottom: 5%;
        transform: translateX(50%);
    }
    .carousel-caption-block {
        &::after {
            display: none;
        }
        &::before {
            position: absolute;
            content: '';
            width: 20px;
            height: 90%;
            background: #015692;
            left: -25%;
            bottom: 50%;
            transform: translateY(50%);
        }
    }
}