@import 'common';
// =============================
// =============================
// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
.car-model,
.section1,
.car-model,
.forum-area,
.modified-area {
  background: black; // 
  h6 {
    font-size: 25px;
    letter-spacing: 1px;
  }
}

.modified-area {
  background: #fff;
}

//  new最新消息
.section1 {
  // =============================
  // =============================
  // 調整dot樣式        
  .slick-dots {
    z-index: 1;
    top: 0;
    left: -50px;
    width: 15%;
    max-height: 150px;
    a {
      line-height: 30px;
      text-align: center;
      display: block;
      width: 30px;
      height: 30px;
      background: $bmw-bg-primary;
      margin-bottom: 10px;
      color: #fff;
      transition: all .3s;
      &:hover {
        color: #fff;
        background: hsla(205, 99%, 29%, 0.95);
      }
    }
  }
  .slick-active a {
    color: #fff !important;
    background: hsla(205, 99%, 29%, 0.95) !important;
  }
  .slider {
    z-index: 99;
    position: relative;
  }
}

// 調整內容
.slider-item {
  position: relative;
  img {
    width: 100%; // min-height: 300px;
  }
  .new-info {
    p {
      width: 90%;
      font-weight: 100; // line-height: 1.7px;
      letter-spacing: 1px;
    }
    a {
      background: transparent !important;
      transition: all .3s;
      display: inline-block;
      border: 1px solid transparent;
      font-size: 0.8rem;
      &:hover {
        text-decoration: none;
        border-bottom: 1px solid #fff;
      }
    }
  }
  .new-header {
    position: relative;
    p {
      font-weight: 400;
      letter-spacing: 1px; // padding-right: 2.5rem;
    }
    &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 90%;
      background: #015692;
      bottom: 50%;
      left: -30px;
    }
  }
}

// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
// =============================
// =============================
// 車型
.car-model {
  .slider-item {
    .card {
      border-right: 1px solid black !important;
      &:hover {
        .card-body {
          background: $bmw-text-secondary;
          a {
            p {
              color: #fff;
            }
          }
        }
      }
    }
    .card-body {
      transition: all .4s ease;
    }
    a {
      &:hover {
        text-decoration: none;
      }
      p {
        &:nth-of-type(1) {
          color: black;
          font-size: 20px;
          letter-spacing: 1px;
        }
        &:nth-of-type(2) {
          font-size: 16px;
          color: #787878;
        }
      }
    }
  } //slick
  .slick-next {
    width: 30px;
    height: 30px;
    right: 0.5rem;
    z-index: 99;
    line-height: 20px;
  }
  .slick-prev {
    width: 30px;
    height: 30px;
    left: 0.5rem;
    z-index: 99;
    line-height: 20px;
  }
}

// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
// =============================
// =============================
// 討論區
.forum-area {
  .forum-content {
    border-bottom: 2px dotted rgba(255, 255, 255, 0.5);
    transition: all .1s;
    &:hover {
      border-bottom: 2px solid $bmw-text-secondary;
    }
  }
  a {
    color: #fff;
    transition: color .2s;
    &:hover {
      text-decoration: none;
      color: $bmw-fourm-text;
    }
  }
  .forum-top-lael {
    background: $bmw-fourm-top;
  }
  .forum-hot-lael {
    background: $bmw-fourm-hot;
  }
  .forum-essence-lael {
    background: $bmw-fourm-essence;
  }
  .forum-new-lael {
    border: 1px solid #fff;
  }
  letter-spacing: 0.5px;
  .badge {
    font-size: 100%;
    padding: 0.1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .forum-info {
    p {
      font-size: 0.8rem;
      font-weight: 200;
    }
  }
}

.forum-more {
  a {
    display: inline-block;
    padding-left: 35px !important;
    padding-right: 30px !important;
    text-align: center;
    font-weight: 200;
    letter-spacing: 5px;
    transition: all .3s;
    border: 1px solid #fff;
    &:hover {
      text-decoration: none;
      background: #fff;
      color: black;
    }
  }
}

// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
// ==========================
// ==========================
// 改裝分享
.modified-area {
  .btn-secondary {
    border: transparent;
  }
  label {
    &:hover {
      background: #eee;
      color: $bmw-text-secondary;
    }
  }
  input:checked+label {
    color: #fff;
    background: hsla(205, 99%, 29%, 0.95);
  }
  .forum-more {
    a {
      color: black;
      border: 1px solid black;
      &:hover {
        background: black;
        color: #fff;
      }
    }
  } // slick
  .slick-next {
    right: 0;
    z-index: 99;
  }
  .slick-prev {
    left: 0;
    z-index: 99;
  }
}

//標籤 slick
.modified-label-slider {
  .modified-slider-item {
    border-radius: 20px;
  }
}

//改裝分享 資訊 slick
.modified-info-slider {
  .slider-item {
    .card {
      width: 95% !important;
      border-radius: 0;
      img {
        width: 100%;
        max-height: 280px;
        min-height: 250px
      }
    }
    .card-text {
      font-size: 1rem;
      font-weight: 200 !important;
    }
    .card-body {
      a {
        letter-spacing: 2.5px;
        font-size: 0.6rem;
        font-weight: 300;
        background: black;
        color: #fff;
        transition: all .3s;
        &:hover {
          background: $bmw-text-secondary;
        }
      }
    }
    .card-time {
      color: #7878789c;
      span {
        border-top: 1px solid black;
      }
    }
  }
}

// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
// ==========================
// ==========================
// 二手專區
.forum-second-hand {
  background: #2a2a2a;
}

// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
// ==========================
// ==========================
//共用元件
// slick custume
.car-model,
.modified-info-slider {
  .slick-next,
  .slick-prev {
    width: 30px;
    height: 30px;
  }
  .slick-next:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
  }
  .slick-prev:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f104";
  }
  .slick-next:before,
  .slick-prev:before {
    color: #fff;
    font-size: 30px;
    transition: opacity .3s, color .3s ease-in; // padding: 5px !important;
    background: #2f2f2f;
    font-family: "Font Awesome 5 Free";
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px;
  }
}

.label-item {
  min-width: 50px;
  text-align: center;
}

.mask {
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(#000, .8);
  z-index: 9998;
  transform: rotate(45deg);
  transform-origin: right;
  transition: width 2s ease-out;
}

.modal-activity {
  position: fixed;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  z-index: 9999;
  transition: opacity .3s .3s;
  img {
    max-width: 300px;
    max-height: 300px;
  }
  .modal-item {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 3px 6px;
    background: black;
    opacity: 1;
    color: #fff;
    font-weight: 300;
    transition: color .3s;
    z-index: 10000;
    &:hover {
      color: #aaa;
    }
  }
}

// ＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊
// ==========================
// ==========================
//  media
@media (min-width:1201px) {
  //最新消息的dots
  .slick-dots li {
    display: block;
    margin: 0 5px 1.5rem !important;
  } // 車型
  .car-model {
    .car-slider {
      &:hover {
        .slick-next:before,
        .slick-prev:before {
          opacity: 0.9;
        }
      }
    }
    .slick-next:before,
    .slick-prev:before {
      opacity: 0;
    }
  } // 最新消息的header
  .new-header {
    p {
      font-size: 1.8rem;
    }
  }
}

@media (max-width:1200px) {
  .section1 {
    background: $bmw-bg-primary;
    .slick-dots {
      width: 100%;
      max-height: 50px;
      top: -15%;
      left: 0px;
      text-align: center;
      a {
        background: #424242;
      }
      .slick-dots li {
        display: inline-block;
        text-align: left;
        margin: 0 30px 1.5rem !important;
      }
    }
    img {
      width: 100%;
    }
  }
  .slick-dots li {
    margin: 5px 20px;
  }
  .car-model,
  .modified-info-slider {
    .slick-next:before,
    .slick-prev:before {
      opacity: 1;
      line-height: 30px;
      text-align: center;
    }
  }
  .new-header {
    p {
      font-size: 1.6rem;
    }
  }
}

@media (min-width:769px) {
  .new-info {
    position: absolute;
    width: 40%;
    z-index: 100;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
  }
  .new-header {
    width: 25%;
    position: relative;
    p {
      font-weight: 400;
      letter-spacing: 1px;
    } // &::before {
    //     left: 1.5rem;
    // }
  }
  .title-break {
    display: none;
  }
  .new-header {
    &::before {
      transform: translate(0%, 50%);
    }
  }
}

@media (min-width:577px) {
  .mask {
    width: 250%;
    height: 320%;
  }
}

@media (max-width:576px) {
  .mask {
    width: 230%;
    height: 200%;
  }
}

@media (max-width:768px) and (min-width:481px) {
  .slider-item {
    .new-header {
      margin-top: 2rem;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      &::before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .new-info {
      p:nth-last-child(2) {
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
      }
      p:nth-last-child(1) {
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
      }
    }
  }
  .card {
    width: 90%;
    margin: auto;
  }
}

@media (max-width:768px) {
  .title-break {
    display: block;
    padding-top: 0.5rem;
  }
}

@media (max-width:576px) {
  .forum-area {
    .forum-title {
      font-size: 1.2rem;
    }
  } // .new-header {
  //     &::before {
  //         transform: translate(-50%, 50%);
  //     }
  // }
  .new-header {
    width: 25%;
    position: relative;
    p {
      font-weight: 400;
      letter-spacing: 1px;
      font-size: 24px;
    }
    &::before {
      left: 1.5rem;
    }
  }
}

@media (max-width:480px) {
  .slider-item {
    .new-header {
      margin-top: 2rem;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      &::before {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .new-info {
      p:nth-last-child(2) {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
      }
      p:nth-last-child(1) {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
      }
    }
  }
}