@import 'common';
//改裝主標題
.modified-title-area {
    padding: 5rem 0 2rem 0;
    .modified-title {
        font-weight: 400;
        span {
            font-weight: 200;
        }
    }
    .modified-item {
        display: inline-block;
        border: 1px solid black;
        font-weight: 400
    }
    img {
        width: 100px;
        height: 30px;
    }
}

//精選文章
.essence-article {
    background: #292a60;
    .essence-title-line {
        &::after {
            content: '';
            width: 100%;
            height: 1px;
            border: 1px solid #fff;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
            z-index: 1;
        }
    }
    .essence-title {
        color: #fff;
        font-weight: 300;
        .essence-title-area {
            display: inline-block;
            background: #292a60;
            padding: 0px 10px;
            z-index: 99;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }
    }
    .essence-card {
        border: 0;
    }
    .essence-list {
        a {
            border: 1px solid #fff;
            color: #fff;
        }
    }
}

//改裝討旅區
.modified-forum-area {
    background: #fff;
    .forum-title {
        a {
            color: black;
            transition: color .3s;
            &:hover {
                color: $bmw-text-secondary;
            }
        }
    }
    .forum-new-border {
        border: 1px solid black
    }
    .forum-content {
        border-bottom: 2px dotted rgba(0, 0, 0, .5);
        transition: all .1s;
        &:hover {
            border-bottom: 2px solid $bmw-text-secondary;
        }
    }
}

.modified-title-line {
    border-bottom: 2px solid black;
    color: black
}

@media (max-width:576px) {
    .modified-title-line {
        display: none;
    }
}

@media (min-width:576px) {
    .fa-comment-dots {
        display: none !important;
    }
}