@import 'common';
// ================================================
// ================================================
//  navbar
// ================================================
// ================================================
// navbar背景顏色
.bmw-bg-dark,
.top {
  background-color: $bmw-bg-primary;
}

// navbar 文字顏色
.bmw-navbar-text {
  color: $bmw-text-primary !important;
}

// ================================================
// ================================================
//navbar-nav
.navbar-nav {
  position: relative;
}

.navline::after,
.navline::before {
  content: '';
  position: absolute;
  height: 3px;
  border-radius: 20px;
  width: 100%;
  left: -0.5rem;
  background: #fff;
}

// nav-item
.nav-item {
  position: relative; // navbar input輸入匡
  input::-webkit-input-placeholder {
    font-size: 14px;
    text-align: right;
    padding-right: 0.2rem;
  }
  .form-control {
    &:focus {
      border: 2px solid hsla(205, 99%, 29%, 0.72);
      transition: border .3s;
      background-color: $bmw-bg-primary;
      color: #fff;
    }
    width: 1%;
    border: 2px solid #fff;
  }
  .fas {
    font-size: 1rem;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: hsla(205, 99%, 29%, 0.72);
    }
  }
}

.nav-link {
  letter-spacing: 2px;
  font-weight: 100;
  transition: color .3s;
  &:hover {
    color: #00eaff !important;
  }
}

//***********************************
//***********************************
// logo
.navbar-brand {
  img {
    height: 40px; //  color: #fff;
  }
}

//***********************************
//***********************************
// toggle icon圖示
.navbar-light .navbar-toggler-icon {
  background-image: url(../../src/img/navbar-icon.svg);
}

// ================================================
// ================================================
// 
@media (min-width:1200px) {
  .show {
    width: 0px !important;
    border: 0px !important;
  }
  .move-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
    opacity: 0;
    box-sizing: border-box;
    pointer-events: none;
  }
  .navbar-nav-desktop {
    width: 75% !important;
  }
}

@media (max-width:1199px) {
  .navbar-nav-desktop {
    width: 100% !important;
  }
}

// ================================================
// ================================================
// navbar 排版
@media(min-width:1300px) {
  .move {
    padding: 0 .75rem;
  }
  .move:nth-of-type(6) {
    padding: 0 2.5rem 0 1rem;
  }
}

@media (max-width:1299px) and (min-width:1200px) {
  .move {
    padding: 0 .3rem;
  }
}

@media (max-width:1200px) and (min-width:576px) {
  .search-sm {
    width: 50%;
  }
}

// ================================================
// ================================================
.obx {
  width: 100vw;
  height: 50vh;
  background-color: aqua;
}