@import 'common'; // background-color: #efeaea;
// .news {
//   .card {
//     &:hover {
//       .card-title {
//         color: $bmw-text-secondary;
//       }
//     }
//     .card-title {
//       transition: all .3s;
//     }
//     a {
//       color: #7878789c;
//       &:hover {
//         text-decoration: none;
//       }
//     }
//     .card-text::before {
//       content: '';
//       top: 20px;
//       width: 34px;
//       height: 1px;
//       border-top: 1px solid black;
//       position: absolute;
//     }
//     .card-text {
//       position: relative;
//       font-size: 1rem;
//       font-weight: 200 !important;
//     }
//     .card-time {
//       color: #7878789c;
//       span {
//         border-top: 1px solid black;
//       }
//     }
//   }
// }
.news-body {
  position: relative;
}

.news-header-banner {
  background: url('../../src/img/news-banner.jpg');
}

.page-banner {
  position: absolute;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-list-time {
  font-size: 17px;
  letter-spacing: 1px;
}

.news-list-title {
  color: rgba($color: #000000, $alpha: 0.7) !important;
  font-size: 15px;
}

.pagination {
  .page-item {
    border: 1px solid black;
  }
  .page-link {
    border: 0px;
    background-color: transparent;
    color: black;
    transition: color .3s;
    &:hover {
      color: #7878789c;
    }
  }
}

.page-title {
  position: relative;
  padding-top: 102px;
  padding-bottom: 99px;
  .news-title-border {
    letter-spacing: 2px;
    font-weight: 400;
    border: 1px solid black;
    display: inline-block
  }
  h3 {
    display: inline-block
  }
}

.page-input {
  background: #fff;
  color: black;
}

// news-artilce
.news-article-title {
  letter-spacing: 2px;
  font-weight: 200;
  h1 {
    font-size: 2rem;
    font-weight: 400;
  } //   padding: 2px;
  position: relative;
  padding-left: 10px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    width: 20px;
    height: 100%;
    background: #015692;
  }
  .news-author {
    color: #7878789c;
    font-size: 0.9rem;
  }
}

.btn-back {
  color: #7878789c;
}

.btn-seemore {
  background-color: #015692;
  transition: background .5s, color .5s !important;
  &:hover {
    background: black;
    color: #fff !important;
  }
}

@media (min-width:1600px) {
  .new-article {
    max-width: 1024px;
  }
}