@import 'common';
.profile-bg {
    background: url(../../src/img/profile-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-modify {
    padding: 3px 1.5rem;
    background: #015692;
    color: #fff;
    transition: background .2s;
    &:hover {
        background: red;
        color: #fff
    }
}

.pro-headshot {
    img {
        width: 200px;
        height: 200px;
    }
}

.profile-pic {
    .slick-slide {
        img {
            display: inline-block !important;
        }
    }
    img {
        width: 300px;
        transition: transform .5s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.profile-fourm-area {
    background: transparent;
}

.lightbox {
    top: 50%;
    transform: translateY(50%);
}

.profile-fourm-title {
    background: #fff;
    color: black;
}

// 編輯頁面
.input-custom {
    border: 2px solid #fff;
    position: relative;
    background: black;
    color: #fff !important;
    border-radius: 0;
}

.select-custom {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
}

.select-wrapper {
    position: relative;
    &::after {
        content: ' ';
        position: absolute; // top: 50%;
        right: 10px;
        bottom: 35%;
        transform: translateY(50%);
        border-color: #fff transparent transparent transparent;
        border-style: solid solid solid solid;
        border-width: 7px;
        z-index: 99;
        /* 設定 width、height 可更好理解原理 */
        height: 0px;
        width: 0px;
        pointer-events: none;
    }
}

.my-6 {
    margin: 5rem 0 4rem 0 !important;
}

.validation-input {
    position: relative;
    .validation-label {
        position: absolute;
        bottom: -30px;
        left: 15px;
    }
}

.date-wrapper {
    position: relative;
}

.date-icon {
    position: absolute;
    right: 10px;
    bottom: 50%;
    transform: translateY(80%);
    z-index: 98;
}

.profile-edit-pic {
    position: relative;
    display: inline-block;
    overflow: hidden;
    img {
        width: 200px;
        height: 200px;
    }
    label {
        cursor: pointer;
    }
    .profile-edit-change {
        font-size: 0;
        position: absolute;
        width: 100%;
        background: rgba(0, 0, 0, .5);
        transition: bottom .3s;
        .profile-edit-btn {
            font-size: 1rem;
            text-align: center;
            cursor: pointer;
        }
    }
}

.profile-add-pic {
    width: 200px;
    height: 200px;
}

.profile-edit-slick {
    .slick-next {
        right: -10px;
        z-index: 99;
    }
    .slick-prev {
        left: -10px;
        z-index: 99;
    }
}

@media (min-width:577px) {
    .input-width {
        width: 70%;
    }
}

@media (max-width:576px) {
    .input-width {
        width: 100%;
    }
}

@media (min-width:769px) {
    .profile-edit-pic {
        &:hover {
            .profile-edit-change {
                bottom: 0;
            }
        }
        .profile-edit-change {
            bottom: -50px;
        }
    }
}

@media (max-width:769px) {
    .profile-edit-pic {
        .profile-edit-change {
            bottom: 0px;
        }
    }
}