@import 'common';
.registered {
    position: relative;
    background-size: cover;
    background: url(../../src/img/login-layout.jpg);
    background-position: top center;
    min-height: 100vh;
    .login-content {
        position: relative;
        height: 100%;
    }
    .registered-content {
        max-width: 360px;
        margin-top: 4rem;
        background: #fff;
        padding: 2rem 1rem;
        h3 {
            font-weight: 400;
        }
        .registered-content-title {
            p {
                color: #8d8d8d;
                font-weight: 300;
                letter-spacing: 0.8px
            }
        }
        .input-group {
            border: 1px solid #aaa;
            img {
                width: 16px;
                height: 16px;
            }
        }
        .input-group-text {
            background: transparent;
        }
        .fa-times-circle {
            cursor: pointer;
        }
        .btn-lg {
            border-radius: 0;
            margin-top: 0.8rem;
        }
    }
    .registered-info {
        letter-spacing: 0.5px;
        a {
            color: $bmw-text-secondary;
            text-decoration: underline;
        }
        .forget-password {
            color: #aaa !important;
            text-decoration: none !important;
            transition: color .3s;
            &:hover {
                color: #878787 !important;
            }
        }
    }
    .input-group .error {
        color: #495057 !important;
    }
    footer {
        @include page-footer;
        position: absolute;
        z-index: 1001;
    }
}

.hint-text {
    color: #aaa;
    font-size: 0.8rem;
}

.hint-hidden {
    font-size: 0;
}

.hint-error {
    color: red;
}

.error {
    color: red;
}

.btn-bmw,
.btn-facebook {
    background: $bmw-text-secondary;
    color: #fff;
    transition: all .3s;
    font-weight: 300;
    &:hover {
        opacity: 0.9;
    }
}

.error {
    color: red !important;
}

.btn-cancel {
    background: #aaa !important;
    color: black;
    font-weight: 400
}

.icon-user {
    fill: black;
}

.icon-user:hover {
    fill: orange;
}

.btn-facebook {
    background: #36518f;
}

@media (min-width:991px) {
    .registered {
        padding-bottom: 160px;
    }
}

@media (max-width:990px) {
    .registered {
        padding-bottom: 270px;
    }
}

@media (max-width:321px) {
    .roboot {
        padding: 0;
    }
}

a:hover {
    text-decoration: none;
}