@import 'common';
.terms {
  h1 {
    @include page-title;
    padding-top: 6rem !important;
    padding-bottom: 2rem;
    font-size: 2rem;
  }
  background-size: cover;
  background: url(../../src/img/bg-tearms.jpg); // background-attachment: fixed;
  height: 100vh;
  .content {
    height: 50vh;
    max-width: 1200px;
    p {
      font-weight: 300;
      letter-spacing: 2.5px;
    }
  }
  footer {
    @include page-footer;
    z-index: 1001;
  }
}

@media (max-width:576px) {
  .terms {
    h1 {
      font-size: 1.5rem;
    }
  }
}

@media (min-width:1000px) {
  .terms {
    overflow-y: hidden;
    footer {
      position: absolute
    }
  }
}