@import 'navbar';
@import 'main-banner';
@import 'breadcrumb-nav';
@import 'main';
@import 'terms';
@import 'fixed-forum';
@import 'fixed-article';
@import 'news';
@import 'modified';
@import 'registered';
@import 'profile';
@import 'footer';
// @import 'plugin';
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  // border: 1px red solid;
  // font-family: 'Noto Sans TC';
  font-family: '新細明體';
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background: transparent !important
}

:focus {
  outline: 0;
}

.row {
  margin: 0;
}